*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.picture{
    display: flex;
   
   
}
ul {
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    list-style: none;
    justify-content: center;
    color: rgb(85, 110, 114);
   
  
}
.list{
    
    width: 100%;
    background-color:#a8d4dd;
    
 
}
.list li{
    padding: 20px;
    
}
.colors{
    font-size: 25px;
    color: rgb(85, 110, 114);

}



.home:hover ,.services:hover,.portafolio:hover,.blog:hover,.contact:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(85, 110, 114);;
    border-radius: 10px;
}

 


.text-1{
   
    margin: auto;
    display: flex;
    background-color: #a8d4dd;
    justify-content: center;
    
}
.text-1 p{
    text-align: center;
    color: white;
}

.points{
    width: 100%;
    height: 50px;
    background-color: #a8d4dd;
    display: flex;
    justify-content: center;
    
}
.a1,.a2,.a3{
    Width :20px;
    height: 20px;
    border: 3px solid white;
    Border-radius: 50%;
    margin-top: 10px;
    margin-left: 6px;
   
}
.a1:hover,.a2:hover,.a3:hover{
    background-color: white;
    cursor: pointer;
}

.text-2{
    margin: 30px auto;
    display: flex;
    
    justify-content: space-evenly;
}

.e1,.e2,.e3{
    text-align: center;
    color: gray;
    
}

h4{
    color: #000;
    
}
h1{
    display: flex;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-right: 60px;
}


